# Base de Datos
POSTGRES_USER=effiguard
POSTGRES_PASSWORD=supersecret
POSTGRES_DB=effiguard_db

# Backend
SECRET_KEY=cambia_esto_por_una_clave_larga_y_aleatoria_de_64_chars
ACCESS_TOKEN_EXPIRE_MINUTES=60
REFRESH_TOKEN_EXPIRE_DAYS=7
ENVIRONMENT=development

# Frontend
VITE_API_URL=http://localhost:8000/api/v1
